<div class="container">
  <nav aria-label="breadcrumb" *ngIf="displayBreadcrumb() === true">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a routerLink="/catalog">Catalog</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
  </nav>
  <nav aria-label="breadcrumb" *ngIf="displayBreadcrumb() === false">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a routerLink="/login">Login</a></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col bg-light">
      <h3>Developer: Berra Jäderlund</h3>
      <h5>E-mail: berndt.jaderlund@scania.com</h5>
      <p>Phone: 070-5281256</p>
      <br /><br />
    </div>
    <div class="col-2 bg-transparent"></div>
    <div class="col bg-light">
      <h3>Developer: Saman Sandy</h3>
      <h5>E-mail: saman.sandy@scania.com</h5>
      <P>Phone: 070-0810115</P><br /><br />
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col bg-light">
      <h3>Version 1.0</h3>
      <h5>An Angular project of a Book Store</h5>
      <p>Release date: 2020.06.17</p>
      <br /><br />
    </div>
  </div>
</div>