<div class="container">
    <h1>Register for an account to Bookstore</h1>

    <form [formGroup]="registerForm">
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email..." formControlName="email" 
            required>
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">Email is required</p>
        </div>

        <div class="form-group">
            <label for="fullname">Full name: </label>
            <input type="fullname" class="form-control" name="fullname" id="fullname" placeholder="Enter your full name..." formControlName="full_name" 
            required>
        </div>
        <div *ngIf="full_name.invalid && (full_name.dirty || full_name.touched)">
            <p *ngIf="full_name.errors.required">Full name is required</p>
        </div>

        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password..." formControlName="password" 
            required minlength="6">
        </div>

                <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.minlength">Password must be at least 6 characters</p>
        </div>
        <div class="form-group">
            <label for="cpassword">Confirm password: </label>
            <input 
                type="password" 
                class="form-control"
                [ngClass]="{ 'is-invalid':  registerForm.get('cpassword').invalid && (registerForm.get('cpassword').dirty || registerForm.get('cpassword').touched) }"
                id="cpassword" 
                name="cpassword" 
                placeholder="Re-enter your password..." 
                required
                formControlName="cpassword"
                />
                <span class="invalid-feedback">Password must match.</span>
        </div>
        <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)">
            <p *ngIf="cpassword.errors.required">Confirm password is required</p>
            <!-- <p *ngIf="cpassword.errors.minlength">Password must be at least 6 characters</p> -->
        </div>
        <div class="form-group">
            <button class="btn btn-primary"
            type="button" 
            (click)="onRegisterClicked()" 
            [disabled]="isLoading || registerForm.invalid">Register</button>
            
        </div>
        <br>
        <div *ngIf="registerError" class="alert alert-danger" role="alert">
            <h4>Something went wrong</h4>
            <p>{{ registerError }}</p>
        </div>
        <div *ngIf="isLoading" class="alert alert-primary mt-5" role="alert">
            Registering your account
        </div>
    </form>
    <br />
  <a routerLink="/login">Already have an account? Login now!</a>
</div>



