
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent" >
        <li class="breadcrumb-item"><a routerLink="/catalog">Catalog</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit profile</li>
        </ol>
    </nav>

    <form [formGroup]=editForm>
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Enter your full name..." formControlName="full_name">
        </div>

        <div class="form-group">
            <label for="email">Email / Username</label>
            <input type="text" class="form-control" name="email" id="email" formControlName="email" readonly >
        </div>

        <button type="button" class="btn btn-secondary mr-2" (click)="onCancelClicked()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="updateName()">Update</button>

        <div *ngIf="updateUserError" class="alert alert-danger mt-5" role="alert">
            <a href="/edit-user" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{ updateUserError }}

        </div>
        <div *ngIf="isLoading" class="alert alert-info mt-5" role="alert">
            Updating your user
        </div>
        <div *ngIf="updateUserSuccess" class="alert alert-success mt-5 alert-dismissable" role="alert">
            <a href="/edit-user" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> The user was updated.
            
        </div>
    </form>
</div>
