<div class="container mt-4">
  <div class="row">
    <button
      type="button"
      (click)="onAddBookClicked()"
      class="btn btn-primary ml-auto mb-4"
    >
      Add a book
    </button>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="form-group border bg-light w-100 p-3">
          <h3>{{ full_name }}</h3>
          <h6>{{ email }}</h6>
          <p>{{ last_login }}</p>
          <button
            type="button"
            class="btn btn-primary mr-2"
            (click)="onEditClicked()"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="onLogoutClicked()"
          >
            Logout
          </button>
        </div>
      </div>

      <div class="row">
        <div class="form-group border bg-light w-100 p-3">
          <h6><strong>Filter books</strong></h6>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkBox" name="checkBox" [value]="checkBoxValue" (change)="changeCheckBox($event, inStockOnly)"/>
            <label class="form-check-label" for="exampleCheck1"
              >In stock only</label
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group border bg-light w-100 p-3">
          <h6><strong>Links</strong></h6>
          <a routerLink="/about" target="_blank">About</a>
        </div>
      </div>
    </div>

    <div class="col-8 ml-auto">
      <div class="row">
        <input
          class="form-control-lg w-100"
          type="text"
          placeholder="Search book title or author..."
          aria-label="Search"
          [(ngModel)]="listFilter"
        />
      </div>
      
      <span *ngFor="let book of filteredBooks">
      <div class="row d-flex border justify-content-center mt-4" *ngIf="(checkBoxValue===true && book.stock>0) || (checkBoxValue===false && book.stock>=0)">


        <div class="col-2">
          <div class="col d-flex justify-content-center">
            <div class="row m-2">
              <img [src]="book.cover" alt="" width="100%" />
            </div>
          </div>
        </div>

        <div class="col mt-2 mb-2">
          <div class="row">
            <u>{{ book.title }}</u>
          </div>

          <div class="row">
            <a>{{ book.authors }}</a>
          </div>

          <div class="row">
            <i *ngIf="book.stock > 0">In stock ({{ book.stock }})</i>
            <i *ngIf="book.stock === 0"><strong>Out of stock</strong></i>
          </div>
        </div>

        <div class="col">
          <button
            type="button"
            class="btn btn-danger btn-sm float-right mt-3"
            (click)="onDeleteClicked(book.id)">
            Delete
          </button>
        </div>
    </div>

  </span>
    </div>
  </div>
</div>
