
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent" >
        <li class="breadcrumb-item"><a routerLink="/catalog">Catalog</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add book</li>
        </ol>
    </nav>

    <form [formGroup]=postForm>
        <div class="form-group">
            <label for="title">Title &#42;</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter your title..." formControlName="title" required>
        </div>

        <div class="form-group">
            <label for="authors">Author(s) &#42;</label>
            <input type="text" class="form-control" name="authors" id="authors" placeholder="Enter your author(s)..." formControlName="authors" required>
        </div>

        <div class="form-group">
            <label for="description">Description &#42;</label>
            <textarea class="form-control" id="description" name="description" rows="4" placeholder="Description of the book..." formControlName="description" required></textarea>
        </div>

        <div class="form-group">
            <label for="isbn">ISBN &#42;</label>
            <input type="text" class="form-control" name="isbn" id="isbn" placeholder="ISBN-number..." formControlName="isbn" required>
        </div>

        <div class="form-group">
            <label for="url">URL to Cover &#42;</label>
            <input type="text" class="form-control" name="url" id="url" placeholder="Enter your URL to the cover..." formControlName="cover" >
        </div>

        <div class="form-group">
            <label for="stock">Stock received &#42;</label>
            <input 
                type="number" 
                class="form-control" 
                name="stock" 
                id="stock" 
                placeholder="Enter the quantity in stock..." 
                min="0"
                [ngClass]="{ 'is-invalid': postForm.get('stock').invalid && (postForm.get('stock').touched || postForm.get('stock').dirty)  }"
                formControlName="stock"
                required/>

                <span class="invalid-feedback">Quantity lower than zero is not valid!</span>
        </div>

        <button type="button" class="btn btn-secondary mr-3" (click)="onCancelClicked()">Cancel</button>
        <button type="button" (click)="addNewBook()" class="btn btn-primary">Add</button>

        <div *ngIf="addBookError" class="alert alert-danger mt-5" role="alert">
            <a href="/add-book" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{ addBookError }}

        </div>
        <div *ngIf="isLoading" class="alert alert-info mt-5" role="alert">
            Adding your book
        </div>
        <div *ngIf="addBookSuccess" class="alert alert-success mt-5 alert-dismissable" role="alert">
            <a href="/add-book" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> The book was added.
            
        </div>




    </form>

</div>




