<div class="container">
    <h1>Login to Bookstore</h1>

    <form [formGroup]=loginForm>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email..." 
            formControlName="email" >
        </div>

        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">Email is required</p>

        </div>

        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password..."
            formControlName="password" required minlength="6">
        </div>

        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.minlength">Password must be at least 6 characters</p>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="button" (click)="onLoginClicked()" [disabled]="isLoading ||loginForm.invalid">Login</button>
        </div>
        <div *ngIf="loginError" class="alert alert-danger" role="alert">
            <h4>Something went wrong</h4>
            <p>{{loginError}}</p>
        </div>
        <div *ngIf="isLoading" class="alert alert-primary mt-5" role="alert">
            Attempting to login
        </div>

    </form>
    <br />
  <a routerLink="/register">Don't have an account? Register now!</a>
</div>
